@page{
    margin:0;
    padding:0;
}
html,body{
    margin:0;
    padding:0;
}
html{
    font-family:"Courier New";
    font-size:10pt;
}
img{
    border:0;
    padding:0;
    margin:0;
}
label{
    display:block;
}
div{
    position:relative;
}
.label{
    width:10.2cm;
}
.label-chronopost, .label-chronopost>img, svg{
    width:10.2cm;
    height:13.29cm;
}
.proof-chronopost>img{
    width:10.2cm;
}
.label-dhl>img:nth-child(1){
    height:7.4cm;
}
.label-dhl>img:nth-child(2){
    height:7.4cm;
}

svg{
    top:0;
    position:absolute;
}
span, div, svg{
    display:none;
}
.rot270 {
    #-webkit-transform: translateX(-100%) translateY(-100%) rotate(-90deg); /* Safari */
    #-moz-transform: translateX(-100%) translateY(-100%) rotate(-90deg); /* Firefox 3.6 Firefox 4 */
    #-ms-transform: translateX(-100%) translateY(-100%) rotate(-90deg); /* IE9 */
    #-o-transform: translateX(-100%) translateY(-100%) rotate(-90deg); /* Opera */
    transform: translateX(100%) translateY(100%) rotate(90deg); /* W3C */  
    #-webkit-transform-origin: right top;
    #-moz-transform-origin: top right;
    #-ms-transform-origin: top right;
    #-o-transform-origin: top right;
    transform-origin: top left;
}
.label-laPoste div,
.label-laPoste svg{
    display:block;
}
#content{
    top: 0.3cm;
    left: 0.3cm;
    width: 14.8cm;  
    height: 9.8cm;  
    border: none;
}  
#from, #to, .label-laPoste svg, #stamp>img, #tracking, #tracking>img {
    width: 7cm;
    float:left;
}
#from, #to, .label-laPoste svg {
    height: 4cm;
}
.title {
    font-weight:bold;
}
.title, .address{
    position:relative;
}
#tracking{
    clear:left;
}
#to .address{
    white-space:pre-wrap;
}
#itemName{
    color:#000;
}
.logo{
    position:absolute;
    width:114.562px;
    height:111.312px;
    top:3mm;
    left:79mm;
    background-image:url("logo.png");
    background-size:100.9px;
    background-repeat: no-repeat;
}
label, input{
    display:block;
    clear:both;
}
